<div class="page">
  <div class="title">Connect 4</div>
  <div class="title" [ngClass]="stateService.state.stateClass">{{stateService.state.stateText}}</div>
  <div class="game-canvas">
    <div class="row" *ngFor="let row of rows">
      <button *ngFor="let tile of columnOfTiles; let column = index" class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo[column.toString() + ',' + row.toString()]" [class.playerOneSelected]="tileSelectedByPlayerOne[column.toString() + ','  + row.toString()]" (click)="updateBoard(column)"></button>
    </div>
  </div>
  <div class="title">
    <button class="reset-button" (click)="resetGame()">Reset</button>
  </div>
</div>
