<div class="page">
  <div class="title">Connect 4</div>
  <div *ngIf="state == playerOneTurnState" class="title player-turn player-one">Player Red's Turn</div>
  <div *ngIf="state == playerTwoTurnState" class="title player-turn player-two">Player Yellow's Turn</div>
  <div *ngIf="state == playerOneWinnerState" class="title player-one">Red Wins!!</div>
  <div *ngIf="state == playerTwoWinnerState" class="title player-two">Yellow Wins!!</div>
  <div class="game-canvas">
    <div class="row">
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:0,y:5']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:0,y:5']" (click)="checkIfRowCanBePlayedAndSelectTile(0)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:1,y:5']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:1,y:5']" (click)="checkIfRowCanBePlayedAndSelectTile(1)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:2,y:5']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:2,y:5']" (click)="checkIfRowCanBePlayedAndSelectTile(2)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:3,y:5']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:3,y:5']" (click)="checkIfRowCanBePlayedAndSelectTile(3)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:4,y:5']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:4,y:5']" (click)="checkIfRowCanBePlayedAndSelectTile(4)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:5,y:5']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:5,y:5']" (click)="checkIfRowCanBePlayedAndSelectTile(5)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:6,y:5']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:6,y:5']" (click)="checkIfRowCanBePlayedAndSelectTile(6)"></button>
    </div>
    <div class="row">
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:0,y:4']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:0,y:4']" (click)="checkIfRowCanBePlayedAndSelectTile(0)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:1,y:4']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:1,y:4']" (click)="checkIfRowCanBePlayedAndSelectTile(1)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:2,y:4']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:2,y:4']" (click)="checkIfRowCanBePlayedAndSelectTile(2)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:3,y:4']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:3,y:4']" (click)="checkIfRowCanBePlayedAndSelectTile(3)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:4,y:4']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:4,y:4']" (click)="checkIfRowCanBePlayedAndSelectTile(4)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:5,y:4']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:5,y:4']" (click)="checkIfRowCanBePlayedAndSelectTile(5)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:6,y:4']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:6,y:4']" (click)="checkIfRowCanBePlayedAndSelectTile(6)"></button>
    </div>
    <div class="row">
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:0,y:3']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:0,y:3']" (click)="checkIfRowCanBePlayedAndSelectTile(0)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:1,y:3']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:1,y:3']" (click)="checkIfRowCanBePlayedAndSelectTile(1)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:2,y:3']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:2,y:3']" (click)="checkIfRowCanBePlayedAndSelectTile(2)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:3,y:3']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:3,y:3']" (click)="checkIfRowCanBePlayedAndSelectTile(3)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:4,y:3']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:4,y:3']" (click)="checkIfRowCanBePlayedAndSelectTile(4)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:5,y:3']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:5,y:3']" (click)="checkIfRowCanBePlayedAndSelectTile(5)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:6,y:3']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:6,y:3']" (click)="checkIfRowCanBePlayedAndSelectTile(6)"></button>
    </div>
    <div class="row">
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:0,y:2']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:0,y:2']" (click)="checkIfRowCanBePlayedAndSelectTile(0)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:1,y:2']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:1,y:2']" (click)="checkIfRowCanBePlayedAndSelectTile(1)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:2,y:2']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:2,y:2']" (click)="checkIfRowCanBePlayedAndSelectTile(2)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:3,y:2']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:3,y:2']" (click)="checkIfRowCanBePlayedAndSelectTile(3)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:4,y:2']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:4,y:2']" (click)="checkIfRowCanBePlayedAndSelectTile(4)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:5,y:2']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:5,y:2']" (click)="checkIfRowCanBePlayedAndSelectTile(5)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:6,y:2']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:6,y:2']" (click)="checkIfRowCanBePlayedAndSelectTile(6)"></button>
    </div>
    <div class="row">
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:0,y:1']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:0,y:1']" (click)="checkIfRowCanBePlayedAndSelectTile(0)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:1,y:1']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:1,y:1']" (click)="checkIfRowCanBePlayedAndSelectTile(1)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:2,y:1']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:2,y:1']" (click)="checkIfRowCanBePlayedAndSelectTile(2)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:3,y:1']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:3,y:1']" (click)="checkIfRowCanBePlayedAndSelectTile(3)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:4,y:1']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:4,y:1']" (click)="checkIfRowCanBePlayedAndSelectTile(4)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:5,y:1']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:5,y:1']" (click)="checkIfRowCanBePlayedAndSelectTile(5)"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:6,y:1']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:6,y:1']" (click)="checkIfRowCanBePlayedAndSelectTile()"></button>
    </div>
    <div class="row">
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:0,y:0']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:0,y:0']" (click)="checkIfRowCanBePlayedAndSelectTile()"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:1,y:0']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:1,y:0']" (click)="checkIfRowCanBePlayedAndSelectTile()"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:2,y:0']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:2,y:0']" (click)="checkIfRowCanBePlayedAndSelectTile()"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:3,y:0']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:3,y:0']" (click)="checkIfRowCanBePlayedAndSelectTile()"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:4,y:0']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:4,y:0']" (click)="checkIfRowCanBePlayedAndSelectTile()"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:5,y:0']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:5,y:0']" (click)="checkIfRowCanBePlayedAndSelectTile()"></button>
      <button class="tile" [class.playerTwoSelected]="tileSelectedByPlayerTwo['x:6,y:0']" [class.playerOneSelected]="tileSelectedByPlayerOne['x:6,y:0']" (click)="checkIfRowCanBePlayedAndSelectTile()"></button>
    </div>
  </div>
  <div class="title">
    <button class="reset-button" (click)="resetGame()">Reset</button>
  </div>
</div>


